body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #333;
	background-color: #ffffff;
}

header{
	background-color: #ffffff;
	/* padding: 20px; */
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.418);
    display: inline-flex;
	width:100%;
}

header h1{
	padding:23px 0px 20px 20px;
	margin: 0px 0px 0px 0px;
	font-size:30px;
	color: #000000;
	font-style: italic;
}

img{
	height:100%;
	width: 80px;
	padding-left: 50px;
}



nav ul {
	margin: -60px 0px 0px 870px ;
	padding: 0px 0px 0px 0px;
	font-size:large;
	
}

nav li {
	display: inline-block;
	margin-left: 20px;
	border-width: 1px;
}

nav a {
	display: block;
	padding: 10px;
	color: #00ff4c;
	text-decoration: none;
	border-radius: 5px;
	box-shadow: 0px 0px 10px ;
}

nav a:hover {
	color: rgb(0, 217, 255);
	background-color: rgb(255, 255, 255);
	
}

.welcome{
	margin: 80px 800px 40px 80px;
}
.about{
	margin: 80px  40px 40px 600px;
}
.services{
	margin: 80px 550px 40px 80px;
}
footer{
	
}