body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #333;
	background-color: #ffffff;
}

header{
	background-color: #ffffff;
	/* padding: 20px; */
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.418);
    display: inline-flex;
	width:100%;
	padding:0px 0px 10px 0px;
	margin: 10px 0px 0px 0px;
}

header h1{
	padding:23px 0px 20px 20px;
	margin: 0px 0px 0px 0px;
	font-size:40px;
	font-style: italic;
}
cyber{	
	color: #7ed957;
	font-style: italic;
}
vector{	
	color: #38b6ff;
	font-style: italic;
}
header h1{
	font-size:40px;
	padding: 17px 0px 20px 10px;
	margin: 0px 0px 0px 0px;
	color: #38b6ff;
	font-style: italic;
}

img{
	height:100%;
	width: 80px;
	padding-left: 50px;
}



nav ul {
	margin: -65px 0px 0px 870px ;
	padding: 0px 0px 0px 0px;
	font-size:large;
	
}

nav li {
	display: inline-block;
	margin-left: 20px;
	border-width: 1px;
}

nav a {
	display: block;
	padding: 10px;
	color: #7ed957;
	text-decoration: none;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 1px ;
}

nav a:hover {
	color: #38b6ff;
	background-color: rgb(255, 255, 255);
	
}

.welcome{
	margin: 80px 800px 40px 80px;
}
.about{
	margin: 80px  80px 40px 650px;
	text-align: right;
}
.services{
	margin: 80px 550px 40px 80px;
}
footer{
	
}